/* google font */

* {
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Rajdhani', sans-serif;
}

/* added a bottom margin here to add extra space on the bottom of the page */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: rgb(247, 237, 224);
    margin-bottom: 50px;
  }


  /* a fun little feature that adds animation to the title */

  .waviy {
    position: relative;
  }


  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #313131;
    text-transform: uppercase;
    animation: flip 4s infinite;
    animation-delay: calc(.2s * var(--i))
  }

  
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  

  /* styling the date box */

  #currentDay {
    border-style:double;
    border-color: #8daa66;
    text-align: center;
    font-size:x-large;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    /* border-left: 1px solid black; */
    padding: 10px;
    border-radius: 15px;
  }

  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }

  /* added border radius attribute to round out hour block boxes */
  
  .hour {
    background-color: #06aed5;
    color: #000000;
    border-radius: 15px;
  }
  

  .past {
    background-color: #d3d3d3;
  }

  
  .present {
    background-color: #f39184;
  }
  

  .future {
    background-color: #b8e6b8;
  }
  
  .saveBtn {
    border-left: 1px solid rgb(250, 250, 250);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  